@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
  width: 100%;
  }

.custom-tagline {
  font-family: 'Sansita', sans-serif;
} 

.custom-palette {
  background-color: #31AFB4;
  color: white;
  
}

.custom-link {
  color: #31AFB4;  
}

.custom-link:hover {
  color: #4B9497; 
}

.custom-palette:hover {
  background-color: #4B9497;
  color: white;
}

.logo-custom {
  width: 70%;
}
